@media screen and (min-width: 1024px){
  body {
    width: 80%;
    .heading-block {
      span {
        font-size: $lg-heading-size;
      }
      img {
        height: $lg-heading-size;
        width: $lg-heading-size;
        margin: 0 10px -10px 10px;
      }
    }
    .ad-block {
      .large-ad {
        img {
          margin-left: 0px;
        }
      }
    }
    .container {
      article.tabs {
        section {
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          h2 {
            a {
              span.tab-name {
                display: inline-block;
                height: 100%;
                margin-left: 2px;
              }
            }
          }
          &#tab1 {
            .module-container {
              .module-location {
                width: 31.25%;
                margin-right: 1%;
                margin-left: 1%;
                .location-name {
                }
              }
            }
          }
        }
      }
    }
  }
}