@import url(http://fonts.googleapis.com/css?family=Lobster|Oswald:400,700;);

body {
  font-family: sans-serif;
}
.heading-block {
  span {
    font-family: Lobster;
  }
}
.loc-name {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}