@media screen and (min-width: 767px){
  body {
    width: 90%;
    margin: 0 auto;
    .heading-block {
      margin-top: 20px;
      margin-bottom: 20px;
      height: auto;
    }
    .ad-block {
      .small-ad {
        display: none;
      }
      .large-ad {
        display: block;
        width: 728px;
        margin: 5px auto;
        padding: 5px 0;
        img {
          margin-left: -20px;
        }
      }
    }
    .container {
      article.tabs {
        section {
          h2 {
            a {
              span.tab-name {
                display: inline-block;
                height: 100%;
                margin-left: 2px;
              }
            }
          }
          &#tab1 {
            .module-container {
              .module-location {
                width: 48%;
                margin-right: 1%;
                margin-left: 1%;
                .location-name {
                }
              }
            }
          }
        }
      }
    }
  }
}