<h2> <!-- This is the content of the tab -->
  <a href="#tab1">
    <sub><i class="fa fa-map-marker fa-2x"></i></sub>
    <span class="tab-name">By Location</span>
  </a>
</h2>
<!-- This is the content of the window -->
<div class="module-container">
  <div class="module-location">
    <div class="location-name">Franklin Square</div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
  </div>
  <div class="module-location">
    <div class="location-name">McPherson Square</div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
  </div>
  <div class="module-location">
    <div class="location-name">Farragut Square</div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
  </div>
  <div class="module-location">
    <div class="location-name">Navy Yard/Nationals Park/DOT</div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
    <div class="truck">
      <span class="name">Truck Name</span>
      <div class="truck-details">
        <p class="description"></p>
        <% link_to "Website", "http://www.theirwebsite.com", :class => "website" %>
      </div>
    </div>
  </div>
</div>