<h2>
  <a href="#tab1">
    <sub><i class="fa fa-map-marker fa-2x"></i></sub>
    <span class="tab-name">By Location</span>
  </a>
</h2>
<p>This content appears on tab 1.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia elit nec mi ornare et viverra massa pharetra. Phasellus mollis, massa sed suscipit pharetra, nunc tellus sagittis nunc, et tempus dui lorem a ipsum.</p>