<h2>
  <a href="#tab3">
    <sub><i class="fa fa-compass fa-2x"></i></sub>
    <span class="tab-name">Map</span>
  </a>
</h2>
<p>This content appears on tab 3.</p>
<p>Sed et diam eu ipsum scelerisque laoreet quis in nibh. Proin sodales augue lectus. Maecenas a lorem a mi congue pharetra. Sed sed risus in nisi venenatis condimentum. Donec ac consectetur arcu. Integer urna neque, rutrum at pretium eu.</p>