<h2>
  <a href="#tab2">
    <sub><i class="fa fa-truck fa-2x"></i></sub>
    <span class="tab-name">By Truck</span>
  </a>
</h2>
<p>This content appears on tab 2.</p>
<p>Fusce ullamcorper orci vel turpis vestibulum eu congue nisl euismod. Maecenas euismod, orci non tempus fermentum, leo metus lacinia lacus, nec ultrices quam ligula ac leo. Quisque tortor neque, vulputate quis ultricies ut, rhoncus mollis metus.</p>